body {
  margin: 0;
  background: rgb(177, 240, 248);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  font-family: cursive;
}

.navbar-brand{
  font-size: 400%;
}

.heading1 {
  display: flex;
  justify-content: center;
  font-family: cursive;
}

.heading2 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  background-color: cyan;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: rgb(18, 173, 245);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(20, 29, 158);
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.paragraph {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: cadetblue;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #3cb1e7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.footercontainer {
  display: flex;
  justify-content: left;
  font-family: cursive;
}

input[type="submit"]:hover {
  background-color: #2c62f7;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

* {
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.caption{
  display: flex;
  font-size: medium;
  font-family: cursive;
  
}



